.react-element {
  background-color: blue;
  color: white;
}

.svelte-element {
  background-color: red;
  color: white;
}

.vue-element {
  background-color: green;
  color: white;
}

.web-components-element {
  background-color: #c3ff00;
  color: black;
}
